// #region Teradata Covalent config section
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Lato, Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
);

@include mat-core(
  $typography
); // $typography is an **optional** argument for the mat-core
/* For use in src/lib/core/theming/_palette.scss */
$mat-primary: (
  50: #e4f7f6,
  100: #bbebe9,
  200: #8eddda,
  300: #60cfcb,
  400: #3ec5bf,
  500: #1cbbb4,
  600: #19b5ad,
  700: #14aca4,
  800: #11a49c,
  900: #09968c,
  A100: #c3fffb,
  A200: #90fff7,
  A400: #5dfff3,
  A700: #44fff1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-accent: (
  50: #fff5e4,
  100: #ffe6bb,
  200: #ffd68e,
  300: #ffc661,
  400: #ffb93f,
  500: #ffad1d,
  600: #ffa61a,
  700: #ff9c15,
  800: #ff9311,
  900: #ff830a,
  A100: #ffffff,
  A200: #fff9f5,
  A400: #ffddc2,
  A700: #ffd0a8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($mat-primary, 800, 100, 900);
$accent: mat-palette($mat-accent, 600, 100, 900);

$warn: mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme(
  $theme,
  $typography
); // $typography is an **optional** argument for the covalent-theme
// #endregion

// Global styles
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
