// #region Teradata Covalent config section
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import './theme/variables.scss';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Lato, Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
);

@include mat-core(
  $typography
); // $typography is an **optional** argument for the mat-core
/* For use in src/lib/core/theming/_palette.scss */

$primary: mat-palette($mat-primary, 800, 100, 900);
$accent: mat-palette($mat-accent, 600, 100, 900);

$warn: mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme(
  $theme,
  $typography
); // $typography is an **optional** argument for the covalent-theme
// #endregion

// Global styles
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
