<div id="home-banner">
  <div id="home-banner-content">
    <mat-toolbar id="home-header" color="primary">
      <span>Rule of thumb.</span>

      <span class="toolbar-spacer"></span>

      <a
        mat-button
        id="past-trials-link"
        href="/past-trials"
        [routerLink]="'/past-trials'"
      >
        Past Trials
      </a>
      <a
        mat-button
        id="how-it-works-link"
        href="/how-it-works"
        [routerLink]="'/how-it-works'"
      >
        How It Works
      </a>
      <a
        mat-button
        id="log-in-sign-up-link"
        href="/log-in-sign-up"
        [routerLink]="'/log-in-sign-up'"
      >
        Log In/Sign Up
      </a>

      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar>

    <div id="home-candidate-panel">
      <div id="home-candidate-card">
        <div id="home-candidate-card-content">
          <div>What's your opinion on</div>

          <div class="title">Pope Francis?</div>

          <p class="description">
            He's talking tough on clergy sexual abuse, but is he just another
            papal pervert protector? (thumbs down) or a true pedophile punishing
            pontiff? (thumbs up)
          </p>

          <a mat-button href="">More information</a>

          <div class="subtitle">What's Your Verdict?</div>
        </div>

        <div id="home-candidate-card-footer">
          <button mat-flat-button color="primary">
            <mat-icon>thumb_up</mat-icon>
          </button>

          <button mat-flat-button color="accent">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div id="home-closing-toolbar">
      <div>CLOSING IN</div>

      <div>22 days</div>
    </div>
  </div>
</div>

<div id="home-content">
  <div id="about-us-container">
    <mat-card>
      <div id="catch-phrase">
        <div>Speak out. Be heard.</div>

        <div>Be counted</div>
      </div>

      <div id="page-description">
        Rule of Thumb is a crowd sourced court of public opinion where anyone
        and everyone can speak out and speak freely. It's easy: You share your
        opinion, we analyze and put the data in a public report.
      </div>

      <button mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-card>
  </div>

  <div id="votes-container">
    <h1 id="votes-title">Votes</h1>

    <div id="votes-candidates">
      <zut-candidate-panel [candidateId]="1"></zut-candidate-panel>

      <zut-candidate-panel [candidateId]="2"></zut-candidate-panel>

      <zut-candidate-panel [candidateId]="3"></zut-candidate-panel>

      <zut-candidate-panel [candidateId]="4"></zut-candidate-panel>
    </div>
  </div>
</div>

<div id="home-footer"></div>
