<div id="home-banner">
  <div id="home-banner-content">
    <mat-toolbar id="home-header" color="primary">
      <span>Rule of thumb.</span>

      <span class="toolbar-spacer"></span>

      <a
        mat-button
        id="past-trials-link"
        href="/past-trials"
        [routerLink]="'/past-trials'"
      >
        Past Trials
      </a>
      <a
        mat-button
        id="how-it-works-link"
        href="/how-it-works"
        [routerLink]="'/how-it-works'"
      >
        How It Works
      </a>
      <a
        mat-button
        id="log-in-sign-up-link"
        href="/log-in-sign-up"
        [routerLink]="'/log-in-sign-up'"
      >
        Log In/Sign Up
      </a>

      <td-search-box
        placeholder="Search here"
        [debounce]="500"
        (searchDebounce)="searchTerm = $event"
        (clear)="searchTerm = ''"
      >
      </td-search-box>
    </mat-toolbar>

    <div id="home-candidate-panel">panel</div>

    <div id="home-closing-toolbar">toolbar</div>
  </div>
</div>

<zut-candidate-panel></zut-candidate-panel>
<zut-candidate-panel></zut-candidate-panel>
<zut-candidate-panel></zut-candidate-panel>
<zut-candidate-panel></zut-candidate-panel>
